#diagramContainer {
    display: grid;
    grid-template-columns: 2fr 5fr 42fr 5fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 21fr 1fr 1fr 1fr;
    background-color: #e9c372;
    width: 60vw;
    height: 54vw;
    max-width: 99vh;
    max-height: 90vh;
    min-width: 342px;
    min-height: 306px;
    margin: 0;
    font-family: 游明朝,YuMincho,"\30D2\30E9\30AE\30CE\660E\671D ProN W3",Hiragino Mincho ProN,"\FF2D\FF33 \FF30\660E\671D",MS Mincho,serif;
}

.board {
    font-weight: bold;
    height: 100%;
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 7;
    display: grid;
    grid-template-rows: 10px repeat(9, 1fr);
}

.rank, .top {
    display: grid;
    grid-template-columns: repeat(9, 1fr) 10px;
    height: 100%;
    width: 100%;
    font-size: 0px;
    grid-column-end: span 1;
}

.square, .coordinate, .superPose, .piece {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    width: 100%;    
}

.coordinate {
    font-size: 8px;
}

.square {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
}

.square:first-child {
    border-left: 1px solid black;
}

.rank:nth-child(2) .square {
    border-top: 1px solid black;
}

/* These classes apply to elements representing gote's pieces. They are flipped. */
.gote, .flipped, .flipped .coordinate {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* These are the zones for the hand pieces */
.hand {
    padding: 0 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    align-items: center;
    grid-row-start: 4;
    grid-row-end: 5;
}

#gote {
    grid-column-start: 2;
    grid-column-end: 3;
}

#sente {
    grid-column-start: 4;
    grid-column-end: 5;
}

.superPose {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(87, 219, 87);
    opacity: 0.8;
    border: 1px solid black;
}

.previous {
    background-color: rgba(87, 166, 219, 0.5);
}

.friendly {
    background-color: rgba(87, 219, 87, 0.5);
}

.hostile {
    background-color: rgba(219, 87, 87, 0.5);
}

.promoted {
    color: red;
}

.origin .piece {
    opacity: 0.3;
}

/* This is the number of pieces of a particular type held by a player */
.handMult {
    display:inline-block;
    padding: 0 2px;
}

@media screen and (orientation: portrait) {
    .square {
        font-size: 3vw;
    }

    .hand {
        font-size: 2.7vw;
    }

    .handMult {
        font-size: 2.1vw;       
    }
}

@media screen and (orientation: landscape) {
    .square {
        font-size: 5vh;
    }

    .hand {
        font-size: 4.5vh;
    }

    .handMult {
        font-size: 3.5vh;       
    }
}

@media screen and (max-width: 1420px) {
    #diagramContainer {
        width: 90vw;
        height: 81vw;
    }
}

@media screen and (max-width: 570px) {

    .nonBoard {
        display: block;
    }

    .square {
        font-size: 17px;
    }

    .hand {
        font-size: 15px;
    }

    .handMult {
        font-size: 12px;
    }

}

@media screen and (max-height: 350px) {

    .square {
        font-size: 17px;
    }

    .hand {
        font-size: 15px;
    }

    .handMult {
        font-size: 12px;
    }

}

