.clickSpan {
  color: lightgray;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  text-decoration: underline;
}

.idleSpan {
  color: lightslategray;
  cursor: default;
}

body {
  background-color: rgb(45, 61, 61);
  color: rgb(248, 248, 248);
}

h1, a {
  color: rgb(255, 196, 86);
}