.container {
    display: grid;
    grid-template-columns: 5% 22% 31% 25% 15%;
    grid-template-rows: repeat(3 auto);
    max-width: 700px;
}

h1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
}

section {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
}

a {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
}




#labels {
    grid-column-start: 2;
    grid-column-end: 3;
}

#entryFields {
    grid-column-start: 3;
    grid-column-end: 4;
}

#options {
    grid-column-start: 4;
    grid-column-end: 6;
}

.row {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
}

#successMessage {
    grid-column-end: 6;
}