.setupContainer {
    display: grid;
    grid-template-columns: 10px 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    min-width: 453px;
    max-width: 700px;
}

#labels {
    grid-column-start: 2;
    grid-column-end: 3;
}

#entryFields {
    grid-column-start: 3;
    grid-column-end: 4;
}

#options {
    grid-column-start: 4;
    grid-column-end: 5;
}

#bottomRow {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
}

@media screen and (max-width: 570px) {
    .container {
        grid-template-columns: 5px 1fr 1fr;
        grid-template-rows: auto auto auto;
        min-width: initial;
    }

    #options {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    #bottomRow {
        grid-row-start: 3;
    }
}